[2020-10-12 23:23] time-killer-games opened #2143 "libmpv-based audio system"
libmpv supports all audio formats ffmpeg and fluidsynth does so that includes a lot of formats added support for we currently do not support natively such as midi. We will have way more audio support than YoYo at this rate.

I intend to add this myself but i wanted opinions from @JoshDreamland @fundies and @RobertBColton on this. I don't think libmpv supports loading files we have appended inside

[2020-10-13 00:34] fundies commented on #2143
I would prefer an SDL audio system for android. Everything you want to use on android needs to be compiled for it. So going through libmpv and the 15 things it depends on similar to openal would also be a pain. SDL has already set up this build stuff for us so it would be easiest to just use their API.

The audio format doesn't really matter much to the audio system. Any audio system will play raw

[2020-10-13 00:52] time-killer-games commented on #2143
All points you raise are very good ones. I believe that's good enough reason to close this. Thanks for the info.

[2020-10-13 00:52] #2143 closed

[2020-10-29 02:32] fundies opened #2146 "FileDropper broke azure cross compile job."
@time-killer-games your file dropper extension seems to have broken the azure cross compile job. It looks like you're missing an include somewhere.

[2020-10-29 04:08] time-killer-games commented on #2146
odd, this should be old news as the only thing i changed was the icon. Anyways, I'll take a look at and see what i can do.

[2020-10-29 04:15] time-killer-games commented on #2146
ChangeWindowMessageFilter requires Vista or later according to microsoft docs. I'd change the wine compatiblity mode to vista if that would fix it though I'm not the one who maintains cross-compile stuff so idk how to do stuff like that. The problem i assume might also be it doesn't recognize the macro i am using to determine windows version.

[2020-10-29 04:20] time-killer-games commented on #2146
Ok now i really do not have any idea. That function requires the windows header, which we have in there, and it detected the version of MinGW required.
https://github.com/time-killer-games/enigma-dev-fork/blob/b671faa0684eb73f65a34b4bd5bdb086f26c493a/ENIGMAsystem/SHELL/Universal_System/Extensions/FileDropper/FileDropper.cpp#L99

[2020-10-29 04:21] fundies commented on #2146
its a compile error. wine is irrelevant

[2020-10-29 04:35] time-killer-games commented on #2146
you are correct. macros were deprecated and eventually removed in favor of ones that represent both 64-bit and 32-bit mingw, not either/or.

[2020-10-29 17:40] fundies commented on #2146
fixed by #2147

[2020-10-29 17:40] #2146 closed

[2020-11-09 00:20] RobertBColton commented on #725
The real issue with the text was finally resolved by #2149 and I can confirm because I now have an NVIDIA RTX 2060. The issue was just a vestigial possible typo by Josh for rounding the font metrics during initialization. ENIGMA, like GMS, uses full integer font metrics for now, although we can later support fractional font metrics. The dreaded D3D9 texel issue still effects us though, it is the o

[2020-11-09 01:24] RobertBColton commented on #702
With #2149 the underlying problem with the fonts was fixed, they are integer metrics, like GM, not fractional completely now. We actually need to add the half pixel fix back to our D3D9 system though, to make it consistent with OGL, since there was serious revamps to the graphics engine. ANGLE which is used by GMS applies the D3D9 half pixel offset in its ffp replacement shader. We should probably

[2020-11-09 01:54] RobertBColton commented on #1705
With #2149 I pretty much fixed the actual issue that exacerbated this problem for fonts. We always had fractional metrics disabled, like GM, but there was a typo adding a half a pixel to each glyph's advance during load initialization. Now, all glyphs are drawn at integer coordinates when the draw call is given an integer, and all glyphs are drawn at fractional coordinates when the draw call is gi

[2020-11-09 01:57] RobertBColton commented on #656
This was actually fixed by #2149 now and ENIGMA OGL is in fact the same as GM consistently across the board now. The only ENIGMA backend with a remaining pixel alignment problem is basically just Direct3D9.

[2020-11-10 16:57] RobertBColton commented on #2133
Alright, I was able to reproduce some of this, but part of what you said is intended behavior.

I recreated your steps but using color, with spacebar restarting the room.
Download: [mouse-test-lite.zip](https://github.com/enigma-dev/enigma-dev/files/5518903/mouse-test-lite.zip)

The mouse wheel events in GM8.1 are global. You can run my example in GM8.1 lite to see.

[2020-11-10 17:38] RobertBColton commented on #2133
@TheOuterLinux Alright I've sent #2152 to fix the left/right local release events, the mouse wheel is not an actual issue, and I can't repro the global left/right release problem. When I set a different color for global left/right mouse events and release, the middle button doesn't do anything and the buttons are not backwards. That's regardless of whether I test them both or independently. You'll

[2020-11-11 14:41] #2133 closed

[2020-11-11 15:28] RobertBColton commented on #2133
Ok it was merged, this should be resolved then. @Hughtech in your recreated example, there's nothing wrong with the second purple row, you made all 3 events destroy the purple objects. They behave as I expect them to, only the object I click on is deleted.

If you guys have anymore issues or can clarify any remaining issue better, please reply.

[2020-11-11 20:00] RobertBColton opened #2154 "Image Index Anomalies"
There are three anomalies with image index currently that I am able to repro. I'm not sure if they are regressions. Somewhat related to #865 and #1021. TheExDeus did mention in #865 that it's redundant for us to modulo `image_index` in both the events file and in the engine functions, and it could be the cause of these anomalies.

1) An instance with no sprite in GM8.1 and GMSv1.4 are supposed to

[2020-11-15 03:54] RobertBColton commented on #865
I split the image index anomalies out into their own issue #2154 without knowing it, but there is one new one in that ticket. The original issue here is just that a negative image_index will crash, which it still does. I don't really know if that makes sense since #2157 where we still support negative subimage index. All we'd need to do there is take the absolute value of `image_index` to fix it l

[2020-11-15 04:40] RobertBColton commented on #865
So I just realized after looking over #1240 the one issue I still see doesn't have anything to do with the image_index being negative at all. With respect to drawing `cursor_sprite` in the redraw code, there's no current instance in scope as it is fired from the main event loop. That leads to a crash trying to read the `image_index` local of a null pointer.

[2020-11-15 05:21] JoshDreamland commented on #865
This seems to be fixed, or is no longer reproducible.

[2020-11-15 05:21] #865 closed

[2020-11-15 05:38] RobertBColton commented on #865
I printed `return -6 % spr2d.SubimageCount();` which gave me 2, so it seems C++ modulo operator no longer keeps the sign? That would explain why it's not reproducible now.

[2020-11-15 15:32] RobertBColton commented on #865
@JoshDreamland I found out why it no longer crashes in online C++ compiler. If the modulus is signed and the number is negative, you get a negative result, but if the modulus is unsigned or size_t you get a positive result because the negative number is implicitly converted to unsigned. So it's the fact that fundies implemented a `Sprite::SubimageCount` that returns `size_t` which we use as the mo

[2020-11-15 15:42] RobertBColton commented on #865
Yeah this issue is done, having a negative image_index was never documented _anywhere_ in GameMaker. The only thing that was documented was that -1 to draw_sprite will use image_index, which it correctly does in ENIGMA. I see no reason for anybody to ever have a negative image_index and try to use it, it's just undefined. In fact, the negative image_index issue was filed against GMSv1.4 too, and a

[2020-11-15 21:39] RobertBColton opened #2158 "Rebuild All Broke Again By Shared libpng"
If you do rebuild all and then try to run again from LGM, the build fails on libpng. You have to go back to the command line and manually make the frontend stuff again. Then you can open LGM and the build completes.

[2020-11-17 19:30] RobertBColton commented on #2129
This is indeed an issue that should be fixed, even the following doesn't work for me with the Xbox 360 controller.
`draw_text(0,0,string(gamepad_button_check(0, gp_padr)));`

[2020-11-17 20:06] RobertBColton commented on #2129
@mikeypro83 can you test #2165 and let me know please?

[2020-11-17 20:09] fundies commented on #2158
does #2164 help this?

[2020-11-18 00:01] RobertBColton commented on #2158
Yeah, I didn't know that when I approved it though, I thought it was related to the build. This is resolved by #2164, I can rebuild all just fine now.

[2020-11-18 00:01] #2158 closed

[2020-11-18 01:20] RobertBColton commented on #2140
Ehhh, I saved it out and I think it sounds more like noise than clipping inside the game. It could be the OGG decoder we are linking to OpenAL soft and thus a MinGW bug.

[2020-11-18 01:53] RobertBColton commented on #2072
Those async events must have just recently been backported to GMSv1.4 so I can add those to LGM. Then you just add them into events.ey and they can be called from the engine.

[2020-11-18 02:20] RobertBColton commented on #2072
Alright I've added those missing events to LGM now and it should save them to GMK and GMX for you.
https://github.com/IsmAvatar/LateralGM/commit/5f6493491d8a1536597f9633b8fdd6c15b917a9b

You can get the new release I uploaded.
https://github.com/IsmAvatar/LateralGM/releases/tag/v1.8.199

Now you just have to add them into ENIGMA, starting with events.ey and then calling them in the engine. Take a

[2020-11-18 18:29] RobertBColton commented on #2140
Ok, I did some more deep investigating of the issue. I really don't see anything out of place with how we are playing the sounds. I even tried playing around a bit with source properties, to make sure they were the defaults. I tried looking at all the dependencies, and to see if there's any issues reported online against the libs, and only discovered I can still play OGG after removing libogg from

[2020-11-18 18:34] JoshDreamland commented on #2140
Are you not able to reproduce the problem on your machine, Robert? AFAIK this is a problem with the sample size we're using. I think we're using 8 bit samples for our PCM data, so audio files with high volume are being clipped at 255. I can't imagine that being local to one machine.

[2020-11-18 19:02] RobertBColton commented on #2140
@JoshDreamland yeah I can, as I said, it's static. But we are using alure to load the sounds (unlike GM) which configures the format for us. I was looking at the docs for OpenAL about how to configure it after the fact though. I'll have to do deeper testing then and try manually loading the audio in ENIGMA.

@zulc22 Could you please also file an issue on OpenAL soft if you know how? If not, could

[2020-11-19 00:35] zulc22 commented on #2140
@RobertBColton i did this on arch linux; and yes you have permission from me to use that .ogg file

[2020-11-19 00:37] zulc22 commented on #2140
i think i encoded the ogg with either ffmpeg or fluidsynth. not quite sure. i'm on windows now so i can't do that much testing on the linux side

[2020-11-19 00:37] zulc22 commented on #2140
and i wasn't cross-compiling or anything; this was a native linux compile and run.

[2020-11-19 00:41] RobertBColton commented on #2140
Oh, that's interesting, I thought you were on Windows. That's weird I get what sounds like noise when the song gets above a certain decibels over on Windows 10. Anyway, thanks, when I can, I'll try to submit the OGG with a working example to OpenAL soft. In the interim, you could also try switching out your pulse audio/driver too.

[2020-11-19 02:35] RobertBColton commented on #1508
Well, it's done partly, 3D sounds and effects work as of #2166.

[2020-11-19 02:36] RobertBColton commented on #972
Effects and 3D sounds were finished in #2166.

[2020-11-19 14:32] RobertBColton commented on #1801
With #2166 I had an idea about fixing #1508 by stretching short audio buffers and increasing their sample rate. That would allow us to enable effects on the short audio clips that DirectSound would previously crash on. Testing GM8.1 does indicate that it must do something similar as it does allow effects on the sample wav clips and does not break the looping behavior. It's possible that solution m

[2020-12-11 22:46] RobertBColton commented on #2129
Closing as resolved by #2165

[2020-12-11 22:46] #2129 closed

[2020-12-13 02:00] RobertBColton opened #2173 "ffmpeg"
GMSv1.4 uses ffmpeg to convert all the sounds to OGG (compressed) or RAW PCM (uncompressed) data before appending it to the executable. This makes sense because we technically do the same for images already by converting them all to 32 bit BGRA instead of keeping them in the source format. I'm making the argument that this is a good idea because in any other case the editor is not actually doing a

[2020-12-13 10:46] fundies commented on #2173
I am not a fan of GM's approach of converting audio files. Recompressing a mp3 to ogg will lose quality. Uncompressing and mp3 to wav or flac will increase filesize. Some formats like midi and mod are akin to svg and are extremely small because they're constructed sounds. There's reasons to use any of these formats and I think converting them blindly is a poor idea plus it's not something you woul

[2020-12-13 12:14] RobertBColton commented on #2173
Rather than binary compressed option, we can make the ENIGMA proto option a codec and support FLAC.

Right now, I can't even play an mp3 in ENIGMA at all.

That's why we should implement the target and quality options for the user that already exist in LGM's UI.

We can cache, there's nothing wrong with that.

[2020-12-13 12:19] fundies commented on #2173
As, I said I'm fine with providing *options* to convert things in the IDE but we should really be dumping alure for more generic codec extensions that will work with any audio system.

[2020-12-13 12:20] RobertBColton commented on #2173
I know how to do that, but why do it that way when Alure recognizing a codec is just a matter of it being linked. Why can't your hypothetical codec extensions just link the codec library? Do they need to do anything else?

[2020-12-13 12:22] fundies commented on #2173
You need a generic interface to decode the audio into the generic PCM format that every audio-system uses.This is what alure does for OpenAL.

[2020-12-13 12:30] RobertBColton commented on #2173
I didn't think you were being so kind as to actually consider the non-OpenAL systems, but ok, good.

I think I still favor my way, because it can be combined with your way. I'm just proposing to replace those 4 compressed/streamed options that YYG has with a single drop down to select codec (None, OGG, FLAC, MIDI). None in this case would do nothing at build time, the default option, so really MID

[2020-12-13 12:34] RobertBColton commented on #2173
@fundies Actually... there's libffmpeg... we could just use that for that layer. Although then the user doesn't get to toggle individual formats and MIDI is not supported. Anyway, the argument here is doing it at compile time vs run time basically, that's the real difference. Bigger executable sizes (not exactly with compression options) in this case actually leads to faster load times.

[2020-12-13 12:38] fundies commented on #2173
I have no objection to allowing users to convert files using the IDE. However, my issue is with the engine. I do not want the engine calling ffmpeg or any other encoder. The engine should be able to decode any codec you have enabled for any audio systems. All codecs do is uncompress/decode audio to PCM and any audio system can play PCM. You can convert the files so the engine has less dependencies

[2020-12-13 12:40] RobertBColton commented on #2173
I mean the asset pipeline, emake, in CompilerSource sounds modules, not the engine.

[2020-12-13 12:44] fundies commented on #2173
Using libffmeg is an all or nothing option which I am not fond of. I want users to be able to choose which codecs they want and be able to add ones unsupported by something like ffmpeg (fluidsynth, libdumb) in a generic interface to our audio systems.

[2020-12-13 12:51] RobertBColton commented on #2173
Ok two more things to say before I sit on this for a while. I added a table to OP. I would feel better about adding many codec extensions if ENIGMA had extension grouping (to pick checkbox easier in UI), otherwise I think it would feel messy, but so does our current image extensions. Extension searching like VS Code too would help. I think it just feels weird to me to argue about this, when none o

[2020-12-13 12:58] fundies commented on #2173
I'm not super intrested in the UI of it. You can design that however.

There is nothing stopping these codecs from working on android or xbox. The only hurdle is compiling the libraries we need for them. Unfortunately, there is no package manager for these niche platforms but in the future we could write our own using CI. It's just not something I'm ready to invest the effort in maintaining right

[2020-12-13 13:13] fundies commented on #2173
If you're only interested in running GM games short-term I would suggest doing this kind of conversion in the throw-away GM2EGM program I wrote. I'd rather not make rgm/emake depend on ffmpeg or whatever if possible.

[2020-12-13 13:15] RobertBColton commented on #2173
Ok, one other thing, I might actually call it Compression (None, Lossy, Lossless) to make it user friendly rather than YoYo's binary compressed or not compressed. Can check a define for if ffmpeg should be enabled. All of this abstraction and extensibility I feel later needs support for general installation, which goes back to our oldest open issue with respect to having a flag to use zlib. That's

[2020-12-13 13:19] fundies commented on #2173
I will whip up an installer once RGM is ready. It's on my todo but its pointless until using RGM is feasible.

[2020-12-13 13:21] fundies commented on #2173
I can't reply there cause you have me blocked on github but looks like he's blaming libsndfile not our linking. The linking suggestion is just a work around.

[2020-12-15 16:43] time-killer-games commented on #2140
I would love to comment on the ffmpeg issue bringing my opinions to the table but robert disabled me from doing so. I'm sorry he doesn't like me contributing peacefully. I've been much kinder to everyone since my absence from discord, as i continue to improve,the abuse continues on his end

[2020-12-22 03:26] time-killer-games opened #2177 "Dialogs Update 2020"
I would like to update dialogs (again) which I haven't done in a long time.

New features include:

**Setting dialog icon from PNG file** (which is standard for Linux, FreeBSD, and Mac Apps). On Linux/FreeBSD the usual way of setting a window icon is based on a file in the system icons directory so different icon themes can alter the appearance of the window icon relative to the current icon theme

[2020-12-22 16:37] JoshDreamland commented on #2177
If you have a reasonably-sized code change, I can look it over. We don't want to version binaries.

Something we could do to make this process a little easier is use Git submodules for large extensions. Each extension could have its own repository and could version as many binaries as it likes.

[2020-12-23 05:56] time-killer-games commented on #2177
@JoshDreamland this is what i meant by a char array creating the dll https://github.com/enigma-dev/enigma-dev/pull/2178/files

I basically did this in MinGW:
[code]

Using the DLL's compiled with Visual Studio on Windows with the exact source code from here:
https://github.com/time-killer-games/DialogModule

Let me know whether you have any objections about this before I work on Cocoa and xlib.

[2020-12-28 02:15] #2177 closed

[2021-01-06 15:56] time-killer-games opened #2181 "Support for AppImage and/or Flatpack executables"
https://github.com/AppImage/AppImageKit

https://flatpak.org/

The AppImage allows you to distribute software/games for Linux that don't need installation of dependencies and one binary will "just work" out of the box on nearly any distro after being marked as executable. I'd love to add support for this in ENIGMA to be the default export option, although i will have to do a lot of reading up on h

[2021-01-08 01:59] JoshDreamland commented on #2140
@zulc22 Per discussion in libsndfile/libsndfile#672, your audio file has out-of-range samples and ought to be normalized. You can do this in Audacity (I believe I had you do so earlier). It's probably worth filing a bug against whatever software encoded that file.

One takeaway from the discussion is that the libsndfile behavior is uglier than defined to be for this particular situation, but even

[2021-01-08 01:59] #2140 closed

[2021-01-25 03:52] fundies opened #2182 "Add Tiled compatible export to EGM"
EGM is intended to support multiple room formats.

I would like to add support for exporting to .tmx (Tiled) editor files.
Tiled is an opensource level editor https://www.mapeditor.org/
Tiled already supports exporting to gmx (https://doc.mapeditor.org/en/stable/manual/export/) therefore exporting to tmx should also be possible.
This will give users further options outside of RGM for editing level

[2021-02-03 23:27] van0014 opened #2184 "file_bin_read_byte() skips bytes 09, 0A, 0B, 0C, 0D and 20; fileio.cpp"
The function 'file_bin_read_byte()' skips certain characters (In ENIGMAsystem/SHELL/Universal_System/fileio.cpp)
This is the part of the function that skips: "enigma::files.get(fileid).fs >> byte;", at line: 223;

[skip_byte_bug.gm81.zip](https://github.com/enigma-dev/enigma-dev/files/5922121/skip_byte_bug.gm81.zip)

These bytes are skipped: 09 0A 0B 0C 0D 20

### Steps To Reproduce
Call file_bin_

[2021-02-05 12:21] fundies commented on #2184
fixed by #2185

[2021-02-05 12:21] #2184 closed

[2021-02-17 04:44] #2091 closed

[2021-02-17 04:46] RobertBColton commented on #2091
Closing as resolved by both #2175 and #2172.

[2021-03-11 09:18] pushkar7570 commented on #1884
Hi all , I would like to work on this issue. I am a newbie and would like to learn and work with you.

[2021-03-11 14:46] fundies commented on #1884
Thank you for your interest but unless you have a specific question regarding this issue it best to discuss things on our discord. You can find a link to join at the bottom of our GSOC page.

[2021-03-12 01:49] time-killer-games opened #2191 "X11 Widgets are broken (X11/Zenity and Everything/Wayland)"
This is a reminder for me to fix X11 widgets on newer systems thanks to an update to zenity by its maintainers that broke it (they removed the ability to attach the dialog transient for an external window, now it doesnt show any dialogs crying about an unknown option because they dropped it)

I have a workaround in place for this. But there's another problem: Wayland can't attach windows transient

[2021-03-12 07:10] #2191 closed

[2021-03-16 18:18] sourabhsingh282 commented on #2182
sir i want to work on this issue

[2021-03-16 18:21] fundies commented on #2182
Best to discuss gsoc projects on discord

[2021-03-16 18:29] sourabhsingh282 commented on #2182
sir I have recently join the enigma gsoc channel on discord dont know much about the previous discussion
sir i want to ask that assigning the issue is on the discord channel or we can have it here

[2021-03-24 07:26] kartikeysaran commented on #2115
Can i work on this ?

[2021-03-24 14:28] JoshDreamland commented on #2115
This seems reasonably straightforward to add to `emake`, but adding it to LateralGM would be a big task. We can probably help you add it to emake, if you are interested, @kartikeysaran.

[2021-03-24 14:32] kartikeysaran commented on #2115
Yes I am interested :)

[2021-03-24 17:31] fundies commented on #2115
I believe this would just be a part of https://github.com/enigma-dev/enigma-dev/issues/1879 . I'm just more focused on options to not compress resources at all both to save time between runs and to allow people a more traditional layout of their resources for updates and etc.

[2021-03-25 18:18] time-killer-games opened #2203 "C++17 temp_directory_path() broken on Windows"
I can tell Josh and fundies have a fetish for having broken c++17 features in enigma. emake broken.

https://github.com/enigma-dev/enigma-dev/blob/792badac3b619b1c81ce1d106b813e83ebcb5aa9/CommandLine/emake/Main.cpp#L32

Also please use path.u8string() instead of path.string() to avoid creating more tech debt for when this code eventually works on english-only machines.

If you guys ever asked me t

[2021-03-25 19:10] fundies commented on #2203
broken how? Is it crashing? Always or only if you pass a gmk? Also, you can review any PR you want they're all public

[2021-03-25 19:13] time-killer-games commented on #2203
Running emake complains with an error of temp_directory_path failing because the c++17 devs never got it working on Windows. Last I checked you already knew this because we talked about it before and you confirmed it with Robert or whoever so it needs no further explanation

[2021-03-25 19:14] fundies commented on #2203
It's just a log file you shouldn't need it to work though

[2021-03-25 19:16] time-killer-games commented on #2203
Yes but the fact it's even called prevents running emake. I believe this is probably due the fact you didn't use the no except version but I'll double check the docs

[2021-03-25 19:18] fundies commented on #2203
Also afaict the CI is running empty games on windows fine. If it's just running projects that broke you can add a test for that pretty easy but I'd rather someone port the test harness to windows

[2021-03-25 19:22] time-killer-games commented on #2203
It could be I may need a package update and they may have fixed it. I'll install master to verify. I was too quick to delete my install.

[2021-03-25 19:28] time-killer-games commented on #2203
[code]

![Capture](https://user-images.githubusercontent.com/4379204/112532079-c4ad0080-8d7e-11eb-9443-8b55a09a9375.PNG)

[2021-03-25 19:34] time-killer-games commented on #2203
where as:

[code]

![Capture](https://user-images.githubusercontent.com/4379204/112532623-6cc2c980-8d7f-11eb-8a45-5652080d33fa.PNG)

This is why CI will not ever be as reliable as doing it yourself. The CI is a mere excuse to waste time writing CI instead of doing real tests.

[2021-03-25 19:35] time-killer-games commented on #2203
The funny thing is, idk how the C++17 devs fuckered this one up, they claim it uses GetTempPath() on Windows underneath and that has always worked for me, I even use that as a workaround to this problem in my GM extensions.

[2021-03-25 19:41] time-killer-games commented on #2203
And finally:
[code]
![Capture](https://user-images.githubusercontent.com/4379204/112533631-87e20900-8d80-11eb-98f9-8100f3bcfe34.PNG)

[2021-03-25 19:44] time-killer-games commented on #2203
And would you just look at that:
![Capture](https://user-images.githubusercontent.com/4379204/112533957-e7401900-8d80-11eb-8623-09486d1d2ff3.PNG)

At least we learned a valuable lesson today. UTF-8 can still technically be supported if we add but two characters, "u8" in every fucking place you guys forgot to.

[2021-03-25 19:49] time-killer-games commented on #2203
well it's still broken even after the update. tf...

[code]
![Capture](https://user-images.githubusercontent.com/4379204/112534640-aeed0a80-8d81-11eb-841f-450dad85d661.PNG)

[2021-03-25 20:11] fundies commented on #2203
I would talk to mingw people about it. However, feel free to implement your GetTempPathW in shared/filesystem and replace my call with your routine

[2021-03-26 16:23] time-killer-games commented on #2203
Unfortunately that's a bit more involved than I have time for right now, because a lot of things like this require moving our widen() and narrow() functions to shared, which I've tried doing in a recent pr I ended up losing patience and closing it because of how many things that get broken by moving those which needed to be resolved.

[2021-03-29 17:32] time-killer-games opened #2205 "Override built-in GML/EDL functions with Script resources"
GM 8.1 did this; if you had a script of the same name and argument count as a built-in GML function, you can actually override it. This allows use to reimplement features using external_define/call/free and call dll's to override existing features how we prefer to have them implemented in ways that normally end up as rejected pull requests for one reason or another. GameMaker Studio also can do th

[2021-03-30 07:01] SaranGup commented on #2080
Hi @RobertBColton, I would like to work on this issue. Can you guide me?

[2021-03-30 15:02] RobertBColton commented on #2080
Hello Saran, I can give a brief explanation that should help. Hopefully you've already installed ENIGMA, if not, feel free to drop into our Discord server. Long story short, ENIGMA is divided into major systems (`ENIGMAsystem/SHELL/`), one of them being platforms. Platforms handle all the window management and input handling. Since each system actually implements the same functions, some of the co

[2021-04-02 15:12] time-killer-games opened #2207 "when the toad came home!"
@JoshDreamland read my messages on hangouts kthx

[2021-04-02 17:52] #2207 closed

[2021-04-04 11:08] le-incroyable1-dev commented on #1982
Hi ! I'm new here. This is my first time contributing to open source. Any help on how I can help fix the issue ??

[2021-04-04 14:19] RobertBColton commented on #1982
Have you installed ENIGMA yet? That's a good place to start.
https://enigma-dev.org/download.htm

Once you have ENIGMA installed it is very easy to change the source files and they will automatically be recompiled. ENIGMA is divided into different systems (`enigma-dev/ENIGMAsystem/SHELL/`) for platforms, audio, and graphics. There is a universal system as well where the highscore functions are imp

[2021-04-09 23:36] time-killer-games opened #2208 "protopooped!"
after installing all deps as instructed from the wiki,

I simply:

git clone https://github.com/enigma-dev/enigma-dev
cd enigma-dev
make # gmake on freebsd

and wammo! the protofbufs are protopooped!

make -C shared/protos/
make[1]: Entering directory '/home/neon/enigma-dev/shared/protos'
mkdir -p .eobjs
protoc -I. --grpc_out=.eobjs --plugin=protoc-gen-grpc= server.proto
: program not found or is

[2021-04-10 03:40] fundies commented on #2208
you need grpc suff now. feel free to update that wiki

[2021-04-10 14:59] #2208 closed

[2021-04-18 09:46] TheSyrethClan opened #2209 "part_type_create() crashes compiled game"
### Describe the bug
Whenever the compiled game runs part_type_create() it crashes, opening a _'xyz.exe has stopped working'_ window.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Create an object.
2. Assign a part_type_create() to a variable, optionally other things.
3. Compile and run.

### Parse & Compiler Bugs
Here's the  EML code for the test project I have created.
Object creat

[2021-05-17 22:28] time-killer-games commented on #567
lol polyz

[2021-05-20 20:39] diabl0-NEMESIS opened #2219 "Building with Graphics none and Platform none causes include error"
## **Description : Running the emake command with graphics none and platform none gives an include error.**

#### basically when i run " ./emake -p None -g None -o /tmp/test " in the enigma-dev directory i get this error

[code]

[2021-05-20 21:20] fundies commented on #2219
@time-killer-games you interested in looking into this for me?

[2021-05-21 18:53] time-killer-games commented on #2219
@gfundies yes. I was busy yesterday but I can do it after an appointment I'm about to be at.

[2021-05-23 14:24] time-killer-games commented on #2219
Sorry for the delay, cloning master rn to check out what's going wrong. My guess it will be as simple as removing that header on Windows.

[2021-05-23 16:13] time-killer-games commented on #2219
@fundies pr started, and btw why tf did hugar share with me this issue with the weird ass impression this has absolutely anything to do with android? did you tell him it had to do with android thinking i'd not know enough of this code to know off hand that's bs?

[2021-05-23 16:54] time-killer-games commented on #2219
@diabl0-NEMESIS try cloning my branch for now:

`git clone -b patch-79 https://github.com/time-killer-games/enigma-dev-fork.git`

after you have cloned it let me know, so i can go back to working on my pull request without breaking it's currently working state.

[2021-05-23 17:33] fundies commented on #2219
I  was explaining something to our GSOC student whos working on android and we noticed this was broken. It's not directly related to android but thats how I noticed this. Hugar wasn't trying to mislead you

[2021-05-23 17:51] time-killer-games commented on #2219
lol ok thanks

[2021-06-01 14:30] Rishavgupta12345 commented on #2016
i am a begineer can you guide me about this issu.

i would like to work on it

[2021-06-09 05:35] time-killer-games opened #2231 "biggest bug with ENIGMA ever"
without_windows_header.sh:
[code]
without_windows_header.exe:
[code]
with_windows_header.sh:
[code]
with_windows_header.exe
[code]
32-bit:
![m32](https://user-images.githubusercontent.com/4379204/121298135-5aa5f100-c8c1-11eb-80fa-cc6c065861a9.png)
64-bit:
![m64](https://user-images.githubusercontent.com/4379204/121298116-54b01000-c8c1-11eb-8501-1ec95f92b411.PNG)
32-bit:
[m32.zip](https://github.co

[2021-06-09 15:55] #2231 closed

[2021-06-09 15:56] time-killer-games commented on #2231
not even worth trying to knock some sense into you guys at this point. you're hopeless

[2021-06-15 12:15] time-killer-games opened #2233 "draw_text should ignore carriage returns"
GameMaker 8.1, Studio 1.4, and Studio 2.x do not treat carriage returns as new lines but instead ignores them completely with draw_text. This is desirable behavior because on Windows new lines include a carriage return followed by a line feed, instead of just a line feed like on Mac and Linux.

[2021-06-19 03:39] TheOuterLinux opened #2236 "OpenGL and d3d fog function does not behave correctly on GNU/Linux"
### Describe the bug
When using the  d3d_set_fog function, it does not behave correctly on a GNU/Linux system.

When using OpenGL 1.1, the ceiling and floors are pitch black if using c_black most of the time except when facing certain directions within a small degree. It does the same thing for c_white except instead of black ceilings and floors, they are white. Making sure to use draw_set_color(c

[2021-06-24 05:51] RobertBColton commented on #1850
I am not able to reproduce this on Windows 10, so I suspect buggy device drivers.
You should test if #2238 fixes the issue.
If it doesn't, I suspect it may also because we aren't setting the viewport before clearing on a resize.

[2021-08-10 10:01] IntinteDAO opened #2255 "Nintendo Switch support"
### Describe the feature
It seems that you can build games for Nintendo Switch (Homebrew) using the usual toolchains and tools that Enigma has. You can in the (far) future add support for Nintendo Switch and the Yuzu emulator to create games for that console.

### Use case
- Port games for chinese console

### Expected behavior
- Add support for Nintendo Switch
- Fix bugs for NS
- Play
- Sell your

[2021-08-11 04:05] fundies commented on #2255
Not something we have time to do ourselfs just yet. If you want help / instruction on adding this we can probably help you on discord though.

[2021-08-23 12:10] time-killer-games opened #2263 "feel free to spy on my fork"
my fork has a lot of stuff you guys don't have; feel free to take a look every once in a while and see if there is anything you'd like to copy/paste from my fork into enigma, although I'm not going to do it for you / make any pull requests.

https://github.com/time-killer-games/stigma-dev

i beat you to webm video playback support, Raspberry Pi OS compatibility (your enigma has std::filesystem rel

[2021-08-23 12:32] hpgDesigns commented on #2263
i tested this and i did like the extensions and how slimline it is.
Most of the games i tested worked well, so so complaints there........for now
i also liked the installer which placed a shortcut in the menu

![image](https://user-images.githubusercontent.com/75296992/130447629-8b310959-55a6-47ba-a38a-567a6f61ecab.png)

[2021-08-23 15:40] fundies commented on #2263
If you want to send something send a PR. We have other things to do than keeps tabs on you.

[2021-08-23 15:40] #2263 closed

[2021-08-24 19:55] time-killer-games commented on #2263
@fundies i literally handed you a two-minute way of creating an enigma installer, I'm sorry you're ungrateful and would rather do it from scratch because you don't like help from people who are far more capable.

[2021-08-24 20:01] time-killer-games opened #2265 "Easily Create Debian Package with Debreate amd Arch with Debtap"
I used debreate to create an installer, you can just modify the installer project in debreate from here (the *.dbp project):

https://github.com/time-killer-games/stigma-dev/releases/tag/v1.0.0.0

...to quickly create an enigma installer for ubuntu and debian. I used debtap AUR to create the arch linux package, but note the freetype and jdk deps won't be recognized due to a bug with debtap, and yo

[2021-08-24 20:02] time-killer-games commented on #2265
@JoshDreamland , tell fundies to not close good issues, or ban him. he is misusing authority you gave him, yet again...

[2021-08-24 20:14] time-killer-games commented on #2265
@JoshDreamland i can create the installer for you if that's what you'd prefer, but it can't be done in a pr becuase its a binary file and belongs under releases. I though you guys would prefer to modifiy to a way you'd prefer it to be with direct access to the debreate project file, which gives you more say in how it will end up being, instead of just sending you a premade binary.

[2021-08-24 21:41] time-killer-games commented on #2265
@JoshDreamland , tell fundies to not close good issues, or ban him. he is misusing authority you gave him, yet again...

I was literally trying to cause peace where there was a huge need for there to be. Even hugar liked my issue I posted.

[2021-08-24 21:50] JoshDreamland commented on #2265
We've never had a problem generating an installer. The problem is, we need to keep doing that when we want to cut a release. Right now, fundies is trying to set up automation so that the CI prepares the installer with each new commit, like we do for RadialGM. Back in the day, he used to build an installer every few months, until he got completely sick of it. No one enjoys doing that. If you contin

[2021-08-24 21:52] time-killer-games commented on #2265
Debtap is a command line interface, and Debreate can generate a debian package folder tree so that all of this can be automated from that. The cool thing is you can call git clone from the debian / arch packages and have it install the latest version every time.

[2021-08-24 21:58] time-killer-games commented on #2265
@JoshDreamland you can also have it clone based on a release commit, that way when stuff breaks in master, there's something to fall back on. I'm just saying there is a number of ways to go about it.

[2021-08-24 22:11] fundies commented on #2265
This is the whole point of a PR you send it to be critiqued and tested by others. However, you seem to take every critique as an attack for some reason. If you want us to see it send a PR. If you want it merged listen to our critiques. That's just how the process works. None of us here including Josh & I unilaterally merge things without approval from someone else. I didn't close your issue as an

[2021-08-24 22:19] time-killer-games commented on #2265
I was going to generate a debian tree with debreate, before i can submit that tree as a pr, i will need josh to critique my debreate project, i mean i guess i could submit the debian tree as-is and ask how it should be different, but the whole point of debreate is to make the process quicker easier / it probably isn't that difficult anyways so i'll just go ahead and do that and we'll go from there

[2021-08-24 22:19] #2265 closed

[2021-08-24 22:24] time-killer-games commented on #2265
I will say this, no idea why you guys haven't murdered me yet for my behavior.

[2021-09-02 16:20] fundies commented on #2136
Do you want to try this again now that android stuffs been merged?

[2021-09-02 16:42] time-killer-games commented on #2136
Yeah that's awfully nice of you to suggest this, does anyone get on ENIGMA's irc channel anymore? Maybe you and/or whoever else would be willing to help could chat with me on there?

[2021-09-02 16:52] time-killer-games commented on #2136
Also, on a slightly different subject, I'm going to unblock you if you'd rather talk on discord, I just wasn't sure if you wanted me to contunue contacting you on there, but I have a game that I programmed for a client in GM that I got working in ENIGMA (with the help of my video player extension from my fork), and its a really really good game. If I get my client's permission, since he is the cop

[2021-09-02 16:58] time-killer-games commented on #2136
Since the pinephone is linux anyway, it should be as simple as building with SDL2 and OpenGL ES 2 and transferring the binary to the phone while installing the deps on it, so it's more familiar than the android process, though that too has the wiki thanks to you and hugar.

[2021-09-02 16:59] time-killer-games commented on #2136
If I get it working on the pinephone, would it be worth mentioning enigma on the pine64 forum? I think a lot of the devs over there would like it,

[2021-09-02 20:40] IntinteDAO commented on #2136
Tomorrow I should get the Pinephone, I'll be able to test the Enigma and at the most send some information about it to a few places :P

[2021-09-04 15:41] time-killer-games opened #2271 "Compiler / Plugin error (i guess?) Everything Crashes LGM on Build"
- Install deps (already had them before recording)
- git clone https://github.com/enigma-dev/enigma-dev
- cd enigma-dev
- make (will report different ticket for emake so no need to make that)
- ./install.sh
- java -jar lateralgm.jar
- create 1 room, with 1 object in it, maybe add code in it, though probably doesn't make a difference.
- watch lgm crash in response to you trying to build anything
-

[2021-09-04 16:36] time-killer-games commented on #2271
@JoshDreamland don't let fundies close this one too, thanks.

[2021-09-04 17:16] JoshDreamland commented on #2271
This should be fixed in 7d21bba3b87c0b655c46ef6cf1abf4d7ab30bca9.

A PR comment I left wasn't addressed (or the change addressing it was somehow elided from the merge).

[2021-09-04 18:12] IntinteDAO commented on #2136
@fundies @time-killer-games

Sorry for waiting. The problem probably's still exists
https://0bin.net/paste/acwrT2K-#Xo3hXQJgnYDO8NNG46vm7GawAehQJpoNOJqWo8b+I0I

In theory compilation on Pinephone went "good", but binaries have 0 Bytes and Shader return a big log error

[2021-09-04 19:28] fundies commented on #2136
What version of gles shaders does the phone support?

[2021-09-04 19:45] IntinteDAO commented on #2136
OpenGL ES profile version string: OpenGL ES 2.0 Mesa 20.3.5
OpenGL ES profile shading language version string: OpenGL ES GLSL ES 1.0.16

[2021-09-04 20:19] time-killer-games commented on #2271
@JoshDreamland Thank you! I'll close this assuming it won't be long before that gets mudged in.

[2021-09-04 20:19] #2271 closed

[2021-09-04 21:39] fundies commented on #2136
Are you on discord. I have something to try?

[2021-09-09 09:44] time-killer-games opened #2273 "FFMPEG is bad."
Unless you plan to pay millions of $$$ for the h264 patent or otherwise get in a world of legal troubles, don't use ffmpeg as a dependency. I overheard you had this in your plans, if you do this I'll be sure to get the word out as much as possible no one can legally sell, closed source, or distribute an enigma game without the aforementioned restrictions of h264 as well as gpl concerns, no one wil

[2021-09-09 09:47] faissaloo commented on #2273
intellectual property isn't real lmao

[2021-09-09 18:44] time-killer-games commented on #2273
I'd like you guys keep in mind, I'm trying to save you of trouble and a lot of it. The threat I made I only did with the intent to expand upon how serious you should take this, because whether I do anything or not, it will bite you in the butt eventually either way. I'm on your side, as much as you'd like to believe otherwise. It gets tiresome every attempt I go through to waste my time wanting to

[2021-09-10 23:19] #2273 closed

[2021-09-11 23:11] time-killer-games commented on #2273
@fundies ok, i'm joining the server in an alt account with a fake ip and will gladly collect infomation that will bring you guys hell on earth for being so obvlvious. @JoshDreamland you clearly don't care about staying within the law. I hope you lose your job over this.

[2021-09-11 23:40] time-killer-games commented on #2273
@fundies have any explanation to give before I get you all banned?

[2021-09-11 23:49] time-killer-games commented on #2273
My report:

[2021-09-12 00:03] JoshDreamland commented on #2273
Please quit harassing my team, or you will be banned.

[2021-09-12 00:40] time-killer-games commented on #2273
If all you want to believe is I am one who is trying to harass, then by your own choice I am no help to you.

[2021-09-12 16:02] JoshDreamland commented on #2273
For your own sake, I suggest you stop issuing threats on a public forum (or anywhere else).

[2021-10-02 13:39] hpgDesigns opened #2277 "New version of grpc breaks enigma"
### LateralGM / RadialGM Bugs
If your bug relates specifically to the IDE please file it on the appropriate tracker.

### Describe the bug
updated version of grpc-1.41.0-1 breaks Enigma at startup

![Screenshot_2021-10-02_08-16-34](https://user-images.githubusercontent.com/75296992/135718616-0b2a4974-9410-4a07-a382-f0cf7b748a2c.png)

### ENIGMA Configuration:
* I'm using EndeavourOS  _86x64 versio

[2021-10-02 14:32] JoshDreamland commented on #2277
We don't prepackage C++ binaries, Hugar; can you delete libcompileEGMf.so and run make?

[2021-10-03 08:34] hpgDesigns commented on #2277
Rebuilding the compiler will fix this.

Many thanks to gfundies for providing the solution

[2021-10-03 08:34] #2277 closed

[2021-11-11 04:44] RobertBColton commented on #353
Just pointing out it seems somebody dropped the ball on this feature in GMSv1.4.999 where it seems to have regressed into ENIGMA's behavior. It does no alpha interpolating of the neighbors for editor sprites or dynamically added backgrounds.
![image](https://user-images.githubusercontent.com/3212801/141238600-604cbcbf-3b84-482d-bcf6-8fb189e8b122.png)

[2021-11-11 22:37] #353 closed

[2021-11-11 23:04] RobertBColton commented on #353
Closing because this is now fixed by #2281 in the engine. If you have an issue with some external editor, file an issue on the relevant tracker. ENIGMA's behavior itself is now exactly the same as GM8.1 and there is nothing left to be done in the engine.

[2022-01-05 21:12] Digivorix opened #2284 "Game fails to compile at the C++ level"
### Describe the bug
No matter what kind of project file it is, whether it be a completely blank file, an old Game Maker 8.1 example file, or a file with just a single blank room in it, the game will fail to compile with the progress bar in the Progress window stating "Compile failed at C++ level".

### Steps To Reproduce
1. Create a blank room
2. Save the file (file type doesn't matter, the compi

[2022-01-06 00:41] fundies commented on #2284
Please post logs as text not screenshots. This is becoming one of my biggest peeves. Everyone screenshots text and I don't understand why -_-

[2022-01-06 01:34] Digivorix commented on #2284
Oh sorry. I've added the log's text into my original post.
I also uploaded it to Pastebin: [](https://pastebin.com/qbzwnWvU)

[2022-01-06 21:01] fundies commented on #2284
Did you install a new mingw to you enigma dir or something? You should not modify that dir.

[2022-01-06 22:23] Digivorix commented on #2284
Actually I did use a newer version of MSYS2 and pointed the system PATH to it. I have just done a complete re-install. I cleared all the MSYS2 PATH variables, removed my extra MSYS2 installation, removed the ENIGMA installation, and re-installed ENIGMA using the latest installer. I also did not touch the msys64 folder in any way after the re-install. Upon launching I was greeted with this error:

[2022-01-07 04:17] fundies commented on #2284
how are you launching enigma? are you using the provided bat file?

[2022-01-07 07:16] Digivorix commented on #2284
I was launching it through the LGM.exe file. However I did try launching it through the "enigma-launch.bat" file. This did not resolve the issue and produced an error similar to the initial compiler error that I provided at the start of this issue. Here is the log from the failed compile after executing ENIGMA with the provided bat file:
[code]

[2022-01-09 03:42] fundies commented on #2284
Not sure what would cause this. Try clean in lgm?

[2022-01-18 22:16] TheLastGuard opened #2285 "enigma don't compile"
###  make output

`
g++ -std=c++17 -Wall -Wextra -Wpedantic -g -I. -D_WIN32_WINNT=0x0600 -I.eobjs -fPIC -o ../../libProtocols.dll .eobjs/Action.pb.o .eobjs/Background.pb.o .eobjs/EventDescriptor.pb.o .eobjs/Font.pb.o .eobjs/GameInformation.pb.o .eobjs/Include.pb.o .eobjs/Object.pb.o .eobjs/Path.pb.o .eobjs/Room.pb.o .eobjs/Script.pb.o .eobjs/Settings.pb.o .eobjs/Shader.pb.o .eobjs/Sound.pb.o .eobj

[2022-01-22 19:18] fundies opened #2286 "Improve the build system"
The current build system works but could use many quality of life improvements.

- GNU Make but it is particularity familiar with various compilers and environments.
- We have no packaging methods written for games. Dependencies must manually be copied.
- Systems are and cannot be pre-built.
- Systems are not interchangeable at runtime or launch.

To fix these issues, I believe a total rewrite of

[2022-01-23 01:56] JoshDreamland commented on #2285
Thanks for reporting. We've been looking into this, but we only have one developer on Windows.

[2022-01-23 21:16] fundies commented on #2285
You may have better luck with the installer on the release page vs using your own msys.

[2022-01-23 21:46] TheLastGuard commented on #2285
Thank you, I will try.

[2022-02-16 02:01] Libertifer opened #2287 "Compiler doesn't find GL/glew.h when compiling to Windows (Ubuntu)"
I'm using Ubuntu 20.04 and I installed MinGW 64.
Indeedly GL/glew.h is in /usr/include.
Anyway, when compiling to Windows, get "Compile failed at C++ level".

`In file included from ./Graphics_Systems/OpenGL-Common/GLSLshader.h:21,
                 from ./Graphics_Systems/OpenGL-Common/shader.h:22,
                 from ./Graphics_Systems/OpenGL3/include.h:3,
                 from /home/ivan/.enig

[2022-03-16 03:40] KartikShrivastava commented on #2101
Hi @fundies, I was trying to understand other bitmap encoders and have a question that should `image_save_bmp` support to `24bit no alpha` is the fix for this issue.

[2022-03-16 05:43] JoshDreamland commented on #2101
In theory we should support multiple pixel formats, but our internal storage format is 32-bit RGBA (well, ABGR based on little endian). So forcing that format sounds correct, but our header is probably using an old bitmap version that isn't compatible with alpha, or something.

[2022-03-16 15:06] KartikShrivastava commented on #2101
Hi, I've referenced following three resources, 1st is [BMP wiki](https://en.wikipedia.org/wiki/BMP_file_format), another one is lime BMP encoder code [BMP encoder](https://github.com/haxelime/lime/blob/4adb7d638d15612e2542ae3a0ef581a786d21183/src/lime/_internal/format/BMP.hx) rest two are SO posts [Post 1](https://stackoverflow.com/questions/14195289/can-a-bmp-image-format-handle-transparency) and

[2022-03-17 02:26] KartikShrivastava commented on #2101
Hi, I've created a PR with the mentioned changes, kindly review it and let me know if updates are needed.

[2022-03-18 07:50] #2101 closed

[2022-03-19 06:46] KartikShrivastava commented on #1872
Hi, I'm willing to work on this issue. Will ask for help regarding this in discord.

[2022-03-21 22:10] JoshDreamland commented on #2287
Is this the issue we helped you with on the Discord? I.e, can this issue be closed, now?

[2022-04-06 13:46] Ashborn-SM commented on #2286
Hey @fundies, i'm interested in this issue.

I have experience and knowledge working with GNU Make but not so much to brag about it (still a beginner). I lack resource's, couldn't find any intermediate-advanced tutorial to GNU Make and skeptical about other guide's to GNU Make i find on the internet.

Could you help me find the resource's of GNU Make and CMake i will be needing to successfully fix

[2022-04-10 14:14] saifkandil commented on #1982
I'm working on this issue so I tried to run the game in LateralGM but it refuses to run but returns -1073741819 can you help on this? @RobertBColton

[2022-04-10 15:05] RobertBColton commented on #1982
Anytime the game returns a large negative number it's generally a crash. You can build the game in debug mode, install GDB if it's not already, then following the debugging guide I wrote.

https://enigma-dev.org/docs/Wiki/Debugging

This will help you find source and line number of what is causing the crash.

[2022-04-10 15:18] RobertBColton commented on #2101
Please link pull requests with the hashtag for future reference. It's easier to find from context.

[2022-04-10 17:30] KartikShrivastava commented on #2101
Sure, will take care of that.

[2022-04-13 10:52] saifkandil commented on #1982
okay I followed those steps but the problem is it returns a large negative integer on debugging also, the other problem is when I looked at the directory where it build the executable to, I didn't find any executable so when running (gdb C:/msys64/tmp/egm3870279439369633378.exe) it outputs the below paragraph:

C:\Users\saifs>gdb C:/msys64/tmp/egm518996892078311101.exe
GNU gdb (GDB) 7.6.1
Copyrigh

[2022-04-13 17:44] saifkandil commented on #1982
thanks @JoshDreamland, it's done

[2022-04-15 16:08] Ahmed-nd commented on #567
Hi guys, I am Ahmed Nasser,  Computer science a 4th year student, And it's my pleasure to be here.
I have experience in C++, and I'm interested in this project, And I hope to get to be a part of the GSOC 2022 program, it's my first time. Could you please guild me?how to start?

[2022-05-01 17:30] HitCoder9768 opened #2296 "emake doesn't show error finding input file"
### Describe the bug
when running emake in the command line to build a game that it can't find, it doesn't output an error unless environment variable ENIGMA_DEBUG=TRUE is parsed. The default output is as follows:
[code]

when running with the aforementioned env-var the end of the output prints the following

[code]

This should most likely be an important piece of output that should not be filter

[2022-05-30 03:09] HitCoder9768 opened #2298 "place_meeting checks using instance's current place and not expected place"
### Describe the bug
when using place_meeting the arguments supplied are X, Y and object to check collisions with.
The object calling place_meeting will use it's own bounding box to check collisions.
Currently supplying X and Y does not offset the position the collision is checked, meaning objects will get stuck inside of other objects

### Steps To Reproduce
some sample code that can be used on a

[2022-08-19 16:25] JoshDreamland opened #2316 "Remaining issues / test points for AstGeneration integration"
This is a list of items to verify before we can merge the AstGeneration branch into master. We should test on a variety of games, but in particular, these items are important:

- [ ] "Global local" variable access (e.g. `inst.x + inst.y` → `glaccess(inst)->x + glaccess(inst)->y`)
- [ ] Custom variable access (`inst.foo` → `varaccess_foo(inst)`)
- [ ] With-statement scoping (implicit variable acces

[2022-09-27 00:26] ZGURemixer commented on #2285
I'm having the same problem without using my own msys.

[2022-10-23 13:26] Regnsloja opened #2319 "Weridness when using += or ++ with uninitialized variables"
When dealing with a previously uninitialized variables, the follow **does not work** properly:

_variable += 1_

This also **does not work** properly:

_variable++_

But the following **does work**:

_variable = variable + 1_

And this also **works**:

_variable = 0_ (somewhere during a creation step, not here right before the incrementing as that would "work" but lock it at 1 obviously)
_variable

[2022-11-12 04:05] abu1861 commented on #2296
kindly assign this issue to me.

[2022-11-12 19:53] fundies commented on #2296
No one is actively working on it. Feel free to make a pull request.